body {
  background-image: -moz-linear-gradient(top, #D7D3C8 0%, #F6F4EC 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D7D3C8), color-stop(1, #F6F4EC));
  background-image: -webkit-linear-gradient(top, #D7D3C8 0%, #F6F4EC 100%);
  background-image: linear-gradient(to bottom, #D7D3C8 0%, #F6F4EC 100%);
  font-size: 14px;
  line-height: 1.5;
  font-family: "Open Sans","Droid Arabic Naskh","Mplus Fulah",sans-serif;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: "Open Sans Light","Droid Arabic Naskh","Mplus Fulah Light",sans-serif;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 100%;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 100%;
}
.small, small {
  font-size: 12px;
  line-height: 100%;
}

.bold {
  font-weight: bold;
}
#chart {
  margin-top: 20px;
}

.dashboard-container {
  padding: 20px 0 40px;
}

.tabzilla-container {
  height: 40px;
}
.current-numbers {
  color: #333;
}

.definition {
  opacity: 0.5;
}

.key-box p {
  display: inline;
  float: right;
  margin: 0 0 0 40px;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

.key {
  display: inline;
  float: left;
  width: 12px;
  height: 12px;
  background: #333;
  margin: 4px 9px 0 0;
}

.key.contributors-active {
  border-radius: 10px;
}

.key.contributors-new {
  background: #3793D4;
}

.wm-footer {
    padding: 40px 0px;
    background-color: white;
    color: #333;
}

.wm-footer .logo a {
  text-indent: 120%;
  background: url('../img/footer-mozilla.png') no-repeat scroll left top transparent;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 93px;
}

.wm-footer {
  font-size: 0.8em;
}

@media (min-width: 768px) {
  /*.container {
    width: 750px;
  }*/
}

@media (min-width: 992px) {
  .tabzilla-container {
    width: 940px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .tabzilla-container {
    width: 1140px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  footer h4 {
    margin-top: 20px;
  }

  .key-box {
    margin: 20px 0 30px;
  }

  .key-box p {
    display: inline;
    float: left;
    padding: 0;
    margin: 0 5px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .total {
    display: inline;
    float: left;
    width: 40%;
  }

  #active-total,
  .total h4 {
    margin: 0;
  }

  .key-box {
    display: inline;
    float: right;
    width: 40%;
    padding-top: 10px;
  }

  #graph-container {
    display: inline;
    float: left;
    margin-top: 25px;
  }
}

/* Styling for D3 SVG Graph */

svg {
  /*background:  #3fb58e; */
}

.axis path {
  fill: none;
  stroke: #68CAA9;
  shape-rendering: crispEdges;
}
.axis {
  font-size: 12pt;
  font-family: Open Sans;
  font-weight: normal;
}

.axis line {
  fill: none;
  stroke: #68CAA9;
  shape-rendering: crispEdges;
}

.tick {
  fill: none;
}
.tick text {
  fill: #333;
  stroke: none;
}
.axis.new .tick text {
  fill: #3793D4;
}

circle {
  stroke: none;
  fill: #333;
}

circle.future-date {
  fill: #68CAA9;
}

.line.active-contributors {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

rect.new-contributors {
  fill: #3793D4;
}

rect.hide {
  display: none;
}

line.target {
    fill: none;
    stroke: #68CAA9;
    opacity: 0.4;
}

line.target.goal {
    fill: none;
    stroke: #333;
}

body rect {
  color: #F00;
}

rect.info-area {
  opacity: 0;
  fill: #333;
  position: relative;
}

.d3-tip {
  line-height: 1.2;
  font-weight: normal;
  font-size: 10px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #CCC;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}